.label-box {
  stroke:rgb(66, 111, 122);
  stroke-width:0.5;
  fill: #eee99c80;
}

.label-text {
  font-size: 14px;
  user-select: none;
}

.source {
  display: none;
}

.grabbable:hover + .source, .source:hover {
  display: block;
}

.grabbable {
  cursor: move;
  cursor: grab;
}

.grabbable:active {
  cursor: grabbing;
}

.connectable:hover {
  stroke:rgb(34, 112, 79);
}

.connector {
  fill:none;
  stroke-width:1.5;
}

.no-select {
  user-select: none;
}

.pointer {
  cursor: pointer;
}